body{
  font-family: arial;
  font-size: 15px;
}
.wrapper{
  display: flex;
  height: 630px;
  padding: 10px;
  background-color: #c3c3c3;
}
.card{
  border-radius: 20px 0 0 20px;
  background-color: #6294EE;
  width: 40%;
  color: #FFF;
  display: inherit;
  text-align: center;
  align-items: center;
  height: inherit;
  justify-content:space-around;
}
.container{
  width: inherit;
}
.card h1{
  text-transform: uppercase;
  padding-bottom: 30px;
}
.card a{
  color: #FFF;
  display: block;
  line-height: 180%;
}
.form{
  border-radius: 0 20px 20px 0;
  width: 60%;
  background-color: #FFF;
  padding: 30px 50px;
}
form,label,button{
  display: block;
}
label[for]::after{
  content: ' *';
}
input, textarea{
  border-width: 0 0 2px 0;
  width: 100%;
  margin: 20px 0;
}

.button{
  display: flex;
  justify-content: flex-end;
}
button{
  border-radius: 20px;
  background-color: #5489EA;
  border-style: solid;
  color: #FFF;
  padding: 10px 25px;
}
